/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "prismjs/themes/prism-okaidia.css";

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ececec;
}

html, body {
  background-color: #212121;
}

body {
  display: flex;
  justify-content: center;
  overflow: auto;
  overscroll-behavior: none;
}

.p-dialog .p-dialog-header {
  background-color: #212121;
}

.p-dialog .p-dialog-content {
  background-color: #212121;
}